<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,maximum-scale=1.0" />

  <meta property="og:title" content="초청장" />
  <meta property="og:url" content="http://heejeon.site:8080/invitation" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="송년의 밤 여러분을 초대합니다." />
  <meta property="og:image" content="http://heejeon.site:8080/img/top_sum.png" />
  <link rel="stylesheet" href="/css/gallery.css" />
  <title>송년의 밤</title>
</head>
<body>
  <img src="/img/gallery.png" style="width: 100%">
  <div class="container">
    <div class="images">
      <div class="imageFlex">
        <img src="/img/gallery/01.jpg"/>
        <img src="/img/gallery/02.jpg"/>
        <img src="/img/gallery/03.jpg"/>
        <img src="/img/gallery/04.jpg"/>
        <img src="/img/gallery/05.jpg"/>
        <img src="/img/gallery/06.jpg"/>
      </div>
    </div>
   <div class="images">
      <div class="imageFlex">
        <img src="/img/gallery/02.jpg"/>
        <img src="/img/gallery/03.jpg"/>
        <img src="/img/gallery/01.jpg"/>
        <img src="/img/gallery/02.jpg"/>
        <img src="/img/gallery/03.jpg"/>
        <img src="/img/gallery/04.jpg"/>
      </div>
    </div><!--
    <div class="images">
      <div class="imageFlex">
        <img src="/img/gallery/02.jpg"/>
        <img src="/img/gallery/03.jpg"/>
        <img src="/img/gallery/01.jpg"/>
        <img src="/img/gallery/02.jpg"/>
        <img src="/img/gallery/03.jpg"/>
        <img src="/img/gallery/04.jpg"/>
      </div>
    </div>-->
  </div>

</body>
</html>