<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,maximum-scale=1.0" />

  <meta property="og:title" content="초청장" />
  <meta property="og:url" content="http://heejeon.site:8080/invitation" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="송년의 밤 여러분을 초대합니다." />
  <meta property="og:image" content="http://heejeon.site:8080/img/top_sum.png" />

  <title>송년의 밤</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/swipebox.css">
  <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/jquery.swipebox.js"></script>
  <script type="text/javascript">;( function( $ ) {$( '.swipebox' ).swipebox();} )( jQuery );</script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script type="text/javascript">
    //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('a03078957efb1a40a19efe081f1d413f');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    function shareKakao() {
      Kakao.Share.sendScrap({
        requestUrl: 'http://heejeon.site:8080/invitation',
        templateId : 114697
      });
    }
    //]]>

    //  클립보드 복사하기
    function clipboardShare() {
      // 1. 새로운 element 생성
      var tmpTextarea = document.createElement('textarea');

      // 2. 해당 element에 복사하고자 하는 value 저장
      tmpTextarea.value = "http://heejeon.site:8080/invitation";

      // 3. 해당 element를 화면에 안보이는 곳에 위치
      tmpTextarea.setAttribute('readonly', '');
      tmpTextarea.style.position = 'absolute';
      tmpTextarea.style.left = '-9999px';
      document.body.appendChild(tmpTextarea);

      // 4. 해당 element의 value를 시스템 함수를 호출하여 복사
      tmpTextarea.select();
      tmpTextarea.setSelectionRange(0, 9999);  // 셀렉트 범위 설정
      var successChk = document.execCommand('copy');

      // 5. 해당 element 삭제
      document.body.removeChild(tmpTextarea);

      // 클립보드 성공여부 확인
      if(!successChk){
        alert("클립보드 복사에 실패하였습니다.");
      } else {
        alert("클립보드에 복사가 완료되었습니다.");
      }
    }
  </script>
</head>


<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

<div id="container" style="background: #151426">
  <div>
    <img class="top" src="/img/top.png" />
  </div>

  <div class="gallery swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/gallery/01.jpg"/></div>
      <div class="swiper-slide"><img src="/img/gallery/04.jpg"/></div>
      <div class="swiper-slide"><img src="/img/gallery/05.jpg"/></div>
    </div>
    <div class="swiper-pagination"></div>
    <div style="text-align: right; margin: 20px;">
      <a href="/gallery" style="color: white; ">
        <span>>> 사진 더보기</span>
      </a>
    </div>

  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <script src="/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.gallery', {
      centeredSlides:true,
      slidesPerView: 'auto',
      speed: 1000,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
  </div>

  <img class="align" src="/img/program.png">

  <img class="align" src="/img/location1.png">
  <a href="https://map.naver.com/p/entry/place/12772830?c=17.32,0,0,0,dh">
    <img class="align" src="/img/map.jpg" style="width: 100%">
  </a>
  <div style="text-align: right; margin: 15px;">
    <a href="https://map.naver.com/p/entry/place/12772830?c=17.32,0,0,0,dh" style="color: white; ">
      <span>>> 지도보기</span>
    </a>
  </div>
  <img class="align" src="/img/location2.png">

  <!-- html -->
  <div class="btn_box" style="text-align: center;padding: 20px;background-color: white">
    <div>
      <a href="javascript:shareKakao()">
        <img src="/img/kakao_sh.jpg" alt="카카오톡 공유">
        <span class="cssFontTest">카카오톡 공유하기</span>
      </a>
    </div>
    <div>
      <a id="clip-btn" href="javascript:clipboardShare()">
        <img src="/img/copy_link.png"/>
        <span class="cssFontTest">링크주소 복사하기</span>
      </a>
    </div>
  </div>
</div>

</body>
</html>